:root{
    --background-color: #FFFFFF;
    --text-color1: #000000;
    --text-color2: #FFFFFF;
    --text-color3: #a82d2d;

    --btn-color1: #ff3e3e;
    --btn-color2:#5865BC;
    --btn-color3:#000000;
    --btn-color4:#14bb54;
    --btn-color5:#ec13b6;
    --btn-color6:#fce622;
    --font-style: 'Roboto', sans-serif;

}